<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Imagem na aba do navegador-->
        <link rel="shortcut icon" href="./public/img/favicon.ico" type="image/x-icon" />
    <title>CursoDeNodeJS</title>
    <style>
        * {
            font-family:"Comic Sans";
        }
    </style>
</head>
<body>
    <!--Adicionando a view _navbar para toda e qualquer página do projeto-->
    {{>_navbar}}
    <!-- Body do projeto - onde será renderizada as views-->
    <div class="container mt-4">
        <!--Renderizando o partials da mensagem de erro ou sucesso-->
        {{>_msg}}
        {{{body}}}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</html>