<!--View formulario que nao precisa de corpo html pois o main que fica responsavel pelo corpo em sí
    unica coisa que eu preciso fazer no main é adicionar mais uma chave que condiz com essa view formulario
    que eu to criando -->
<form action="/add" method="POST">
    <p>Título</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>